.row-header {
  margin: 0px auto;
  padding: 0px 0px; }

.row-content {
  margin: 0px auto;
  padding: 50px 0px;
  border-bottom: 1px ridge;
  min-height: 400px; }

.footer {
  margin: 0px auto;
  padding: 20px 0px; }

body {
  background-color: #F1EED9;
  color: #46433A;
  z-index: 0; }

.navbar-dark {
  background-color: #46433A; }

.empty-cell {
  border: 1px solid rgba(0,0,0,.125);
  /*min-width: 23px;
  min-height: 23px;*/
  height: 3rem;
  width: 3rem;
}