$lt-gray: #ddd;
$background-dark: #512DA8;
$background-light: #9575CD;

$background: #F1EED9;
$text-color: #46433A;

@mixin zero-margin($pad-ud, $pad-lr){
    margin: 0px auto;
    padding: $pad-ud $pad-lr;
}

.row-header{
    @include zero-margin(0px,0px);
}

.row-content {
    @include zero-margin(50px, 0px);
    border-bottom: 1px ridge;
    min-height:400px;
}

#game .col {
    border: 1px solid rgba(0,0,0,.125);
}

.empty-cell {
    border-bottom: 1px solid rgba(0,0,0,.125);
    min-width: 23px;
    min-height: 23px;
}

.footer{
    
    @include zero-margin(20px, 0px);
}

body {
    background-color: $background;
    color: $text-color;
    z-index:0;
}

.navbar-dark {
     background-color: $text-color;
}