.row-header {
  margin: 0px auto;
  padding: 0px 0px; }

.row-content {
  margin: 0px auto;
  padding: 20px 0px;
  border-bottom: 1px ridge; }

body {
  background-color: #F1EED9;
  color: #46433A;
  z-index: 0; }

.navbar-dark {
  background-color: #46433A; }

.cell {
  border: 1px solid rgba(0, 0, 0, .1);
  /* A trick I found on Stackoverflow to make the height the same as width */
  width: 100%;
  height: 0;
  padding-bottom: 100%;
}

.col-1 {
  padding-left: 0px;
  padding-right: 0px;
  
}